<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="INeedProgrammers account activation is required">INeedProgrammers account activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="Dear (${user.login})">
            Dear
        </p>
        <p>
            Your INeedProgrammers account has been created, please click on the URL below to access it:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/activate?key=${user.activationKey}|})" th:href="${url}"
            th:text="${url}">Activation link</a>
        </p>
        <p>
            <span th:text="">Regards, </span>
            <br/>
            <em th:text="">INeedProgrammers.</em>
        </p>
    </body>
</html>
