target/
!.mvn/wrapper/maven-wrapper.jar
.directory
.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
/build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/logs
/src/main/resources/public
/application.properties
/storage
/license.dev

### misc ###
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

### System Files ###
.DS_Store
Thumbs.db

### e2e ###
/e2e/*.js
/e2e/*.map

### dependencies ###
/node_modules
!/FRONTEND/package-lock.json
