<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="INeedProgrammers password reset">INeedProgrammers password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="Dear(${user.login})">
    Dear
</p>
<p th:text="">
    For your INeedProgrammers account a password reset was requested, please click on the URL below to reset it:
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/reset/finish?key=${user.resetPasswordKey}|})" th:href="${url}"
       th:text="${url}">Login link</a>
</p>
<p>
    <span th:text="Regards">Regards, </span>
    <br/>
    <em th:text="INeedProgrammers">INeedProgrammers.</em>
</p>
</body>
</html>
