@import 'scss/tables';
@import 'scss/_tailwindcss.css';
@import '~@angular/cdk/a11y';
@import '~@angular/cdk/overlay';

@include cdk-a11y();
@include cdk-overlay();

* {
  border-width: 0;
}

.is-unclickable {
  user-select: none;
  pointer-events: none;
}
